@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');


$font-family-base: 'Open Sans', sans-serif;
$font-family-code: 'Poppins', sans-serif;;
$primary: hsl(322, 100%, 66%);
$secondary: hsl(208, 11%, 55%);
$dark:  hsl(192, 100%, 9%);
$light: hsl(0, 0%, 100%);
$font-size-base: 1.125rem;


$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 9,
  8: $spacer * 12,
  );

@import "../node_modules/bootstrap/scss/bootstrap.scss";

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}
.nav-btn {
    background-color: $light;
}

.cta-box{
    transform: translateY(-50%);
}
.secondary-font{
    font-family: 'Poppins', sans-serif;;
}
.footer-icons {
    position: relative;
    top: 8px;
}
.footer-tags{
    color: $light;
    text-decoration: none;
}
.footer-tags:hover {
    text-decoration: underline;
}
.social-icons {
    cursor: pointer;
    transition: .2s ease-in-out;
}
.social-icons:hover {
    color: $primary;
    transform: translateY(-5px);
}
.copy-right {
    font-size: 16px;
}
@import 'media-queries';

